.navbar-brand img {
  width: 130px;
}

section #imgform {
  width: 130px;
}

#carousel-1 {
  width: 100%;
}

#carousel-1 img {
  width: 100%;
}

.portada1 {
  width: 100%;
  height: 350px;
  background: url("./PaginA%20web%20y%20e-commerce.png");
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  .portada1 {
    background: url("./PaginA%20web%20y%20e-commerce.png");
    background-size: contain;
    background-position: center;
  }
}

.portada2 {
  width: 100%;
  height: 350px;
  background: url("./PaginA%20web%20y%20e-commerce%20(2).png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  .portada2 {
    width: 100%;
    height: 200px;
    background: url("./PaginA%20web%20y%20e-commerce%20(2).png");
    background-size: contain;
    background-position: center;
  }
}

.portada3 {
  width: 100%;
  height: 350px;
  background: url("./PaginA%20web%20y%20e-commerce%20(1).png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  .portada3 {
    width: 100%;
    height: 200px;
    background: url("./PaginA%20web%20y%20e-commerce%20(1).png");
    background-size: contain;
    background-position: center;
  }
}
.mantenimiento{
  width: 80%;
  margin: auto;
  text-align: center;

}
.mantenimiento img{
  width: 100%;
 
}
model-viewer {
  width: 100%;
  height: 100%;
  margin: auto;
}
.agradecimiento {
  text-align: center;
  padding: 10px;
  font-family: 'Roboto';
  font-weight: 900;
}

.botonesthanks {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-top: 10px;
  z-index: 1000;
}

.botonesthanks .btn {
  margin: 5px;
  border: none;
  background: #5cceff;
  color: #fff;
  width: 45%;
  border-radius: 15px;
}

.thanks3d {
  width: 100%;
  height: 300px;
  background: url("./apps.png");
  background-size: cover;
  background-position: center;
}

.iconos {
  width: 30%;
  margin: auto;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 576px) {
  .iconos {
    width: 100%;
    justify-content: space-evenly;
  }
}

model-viewer {
    width: 100%;
    height: 500px;
    margin: auto;
  }

.agradecimiento {
    text-align: center;
    padding: 10px;
    font-family: 'Roboto';
    font-weight: 900;
  }
  
  .botonesthanks {
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    z-index: 1000;
  }
  
  .botonesthanks .btn {
    margin: 5px;
    border: none;
    background: #5cceff;
    color: #fff;
    width: 45%;
    border-radius: 15px;
  }
  
  .thanks3d {
    width: 100%;
    height: 100%;
    background: url("/assets/img/apps.png?h=cb6ee6e90f8afcadc3982afec3a85966");
    background-size: cover;
    background-position: center;
  }
